.mt-header{
    background:#006064 !important;
    color: #fff !important;
}
.mt-header h1,h2{
    color: #fff !important;
}

.mt-iconmenu{
    position: absolute;left: 30px;top: 40px;
    color: #fff !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    text-shadow: none !important;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* VARIABLES
*************/
/* MIXINS
*********/
/* BUTTONS
**********/
.button.position-right{
color: #fff;
    position: absolute;
    bottom: 0px;
    right: 13px;
}
.button.position-left{
color: #fff;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.button {
  display: block;
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
  
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  -webkit-transition: all, 250ms ease;
  transition: all, 250ms ease;
}
.button.green{
 background-color: #43A047;   
}
.button.blue{
 background-color: #1e8eb9;   
}

.button.blue:hover {
  background-color: #229fcf;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}

.button.green:hover {
  background-color: #66BB6A;
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.09804) 0px 4px 10px 0px, rgba(0, 0, 0, 0.09804) 0px 2px 10px 0px;
  -webkit-transform: translate(0, -2px);
          transform: translate(0, -2px);
}
.button:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(9, 41, 53, 0.25);
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.button.circle {
  font-size: 28px;
  line-height: 3.6rem;
}
.button.circle, .button.circle:after {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.button.circle:hover:after {
  opacity: .4;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation-name: button-circle-hover;
          animation-name: button-circle-hover;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.button.circle:active:after {
  opacity: .75;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-name: none;
          animation-name: none;
}
.button.rectangle {
  padding: 10px 6px;
  max-width: 180px;
}
.button.rectangle:after {
  border-radius: 40px;
}
.button.rectangle:hover:after {
  opacity: .3;
  -webkit-transform: scale(1, 0.5);
          transform: scale(1, 0.5);
  -webkit-animation-name: button-rectangle-hover;
          animation-name: button-rectangle-hover;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.button.rectangle:active:after {
  opacity: .75;
  border-radius: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-name: none;
          animation-name: none;
}
.button.transparent {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}
.button.transparent:hover {
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}
.button.transparent:active {
  box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.1), 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

/* BUTTON ANIMATIONS
********************/
@-webkit-keyframes button-circle-hover {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
  33% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: .35;
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .35;
  }
  66% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: .25;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
}
@keyframes button-circle-hover {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
  33% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: .35;
  }
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: .35;
  }
  66% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: .25;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: .1;
  }
}
